section {
  .about {


    .description {
      color: #66635E;
      margin: 2rem auto;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;


      h2 {
        text-transform: uppercase;
        font-size: 2.4rem;
        margin: 1rem auto;
      }

      img {
        border-radius: 50%;
        height: 16rem;
        width: 16rem;
        margin: 2rem auto;
      }

      p {
        font-size: 1.6rem;
        padding: 0 2rem;
        text-align: center;
      }

    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {

        div {
          display: flex;
          padding: 2rem 1.5rem;
          height: 12rem;

          h3 {
            font-size: 2.4rem;
            font-weight: bold;
          }

          ul {
            display: flex;

            li {
              margin: 0.5rem;

              span {
                font-size: 1.2rem;
              }
            }
          ;
          }
        }
      }
    }
  }
}
