header {

  .home {
    margin: 0 auto;
    padding: 3rem 0;
    width: 100%;
    background-color: #1D2731;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel {
      padding: 2rem;


      mdb-carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          justify-self: center;
        }
      }
    }

  }

  &::after {
    content: '';
    position: absolute;
    margin: 0; padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6rem 6rem 6rem;
    border-color: #1D2731 transparent transparent transparent;
  }
}


